<!DOCTYPE html>
<html lang="en">
<head>
    <title>A Simple Database Application System for the COVID-19 Pharmaceutical Companies</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
    <a href="{{ url_for('index') }}">
        <button type="button" class="topbtn">
            View Table
        </button>
    </a>
    <a href="{{ url_for('addEntry') }}">
        <button type="button" class="topbtn">
            Add An Entry
        </button>
    </a>
    <a href="">
        <button type="button" class="topbtn">
            Special Queries
        </button>
    </a>


    <h2>Add An Entry</h2>
    <br/>
    
<p>Move the mouse over the button to open the dropdown menu.</p>

<script>
    function setVisibility(formName){
        const formsToHide = document.getElementsByClassName('toHide');
        for (const formToHide of formsToHide) {
            formToHide.style.display='none';
        }
        const formtoShow = document.getElementsByClassName(formName);
        formstoShow[0].style.display='block';
    }
</script>
<div class="dropdown">
  <button class="dropbtn">Choose One</button>
  <div class="dropdown-content">
  <a href="#" onclick="setVisibility('table-Company')">Company</a>
  <a href="#" onclick="setVisibility('table-Facility')">Facility</a>
  <a href="#" onclick="setVisibility('table-Employee')">Employee</a>
  <a href="#" onclick="setVisibility('table-Team')">Team</a>
  <a href="#" onclick="setVisibility('table-Project')">Project</a>
  <a href="#" onclick="setVisibility('table-Product')">Product</a>
  <a href="#" onclick="setVisibility('table-Client')">Client</a>
  <a href="#" onclick="setVisibility('table-Contract')">Contract</a>
  </div>
</div>

<h2>Add An Entry</h2>
    <div class="dropdown">
  <button class="dropbtn">Choose One</button>
  <div class="dropdown-content">
  <a href="#">Company</a>
  <a href="#">Facility</a>
  <a href="#">Employee</a>
  <a href="#">Team</a>
  <a href="#">Project</a>
  <a href="#">Product</a>
  <a href="#">Client</a>
  <a href="#">Conttract</a>
     
  </div>
</div>

<form action="/action_page.js">
  <p>Facility</p>
  <label for="name">Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="address">Address:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 
<form action="/action_page.js">
  <p>Employee</p>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 
<form action="/action_page.js">
  <p>Team</p>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 
<form action="/action_page.js">
  <p>Project</p>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 
<form action="/action_page.js">
  <p>Product</p>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 
    <form action="/action_page.js">
  <p>Client</p>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 
    <form action="/action_page.js">
  <p>Contract</p>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="city">City:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="province">Province:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="postalcode">PostalCode:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="coutry">Country:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
  <label for="phnumber">Phone Number:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="pharmID">Pharm ID:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br>
 
 

  <input type="submit" value="Submit">
  <input type="submit" value="Delete">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
    <div class="table-Contract toHide">
    <h3>Contracts</h3>
        <table>
            <thead>
                <tr>
                    <th>Contract ID</th>
                    <th>Employee ID</th>
                    <th>Employee Name Signed Contract</th>
                    <th>Date Of Signed Contract</th>
                    <th>Expected Delivery Day Product</th>
                    <th>Client ID</th>
                    <th>Pharm ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for contracts in Contract %}
                <tr>
                    <td>{{ contracts.contractID }}</td>
                    <td>{{ contracts.employeeID }}</td>
                    <td>{{ contracts.employeeNameSignedContract }}</td>
                    <td>{{ contracts.dateOfSignedContract }}</td>
                    <td>{{ contracts.expectedDeliveryDayProduct }}</td>
                    <td>{{ contracts.clientID }}</td>
                    <td>{{ contracts.pharmID }}</td>
                    <td><button>EDIT</button></td>
                    <td><button>DELETE</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div><div class="table-Contract toHide">
    <h3>Contracts</h3>
        <table>
            <thead>
                <tr>
                    <th>Contract ID</th>
                    <th>Employee ID</th>
                    <th>Employee Name Signed Contract</th>
                    <th>Date Of Signed Contract</th>
                    <th>Expected Delivery Day Product</th>
                    <th>Client ID</th>
                    <th>Pharm ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for contracts in Contract %}
                <tr>
                    <td>{{ contracts.contractID }}</td>
                    <td>{{ contracts.employeeID }}</td>
                    <td>{{ contracts.employeeNameSignedContract }}</td>
                    <td>{{ contracts.dateOfSignedContract }}</td>
                    <td>{{ contracts.expectedDeliveryDayProduct }}</td>
                    <td>{{ contracts.clientID }}</td>
                    <td>{{ contracts.pharmID }}</td>
                    <td><button>EDIT</button></td>
                    <td><button>DELETE</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div><div class="table-Contract toHide">
    <h3>Contracts</h3>
        <table>
            <thead>
                <tr>
                    <th>Contract ID</th>
                    <th>Employee ID</th>
                    <th>Employee Name Signed Contract</th>
                    <th>Date Of Signed Contract</th>
                    <th>Expected Delivery Day Product</th>
                    <th>Client ID</th>
                    <th>Pharm ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for contracts in Contract %}
                <tr>
                    <td>{{ contracts.contractID }}</td>
                    <td>{{ contracts.employeeID }}</td>
                    <td>{{ contracts.employeeNameSignedContract }}</td>
                    <td>{{ contracts.dateOfSignedContract }}</td>
                    <td>{{ contracts.expectedDeliveryDayProduct }}</td>
                    <td>{{ contracts.clientID }}</td>
                    <td>{{ contracts.pharmID }}</td>
                    <td><button>EDIT</button></td>
                    <td><button>DELETE</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

</body>
</html>

